[save_variables]
filename = ~/demon_vars.cfg

[include ./KAMP_LiTE/*.cfg]
[include ./Heat_Soak_Sovol_SV08.cfg]
[include ./RGB_LEDs.cfg]
[include ./Demon_Klipper_Essentials_Unified/Other_Files/Demon_User_Files_Updater/Extract_Demon_User_Files_Biqu.cfg]
[include mainsail.cfg]
[include My_Macros.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] 
# Configs and menu for the stock lcd screen.
[include options/lcd/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the stock probe and uncomment the eddy, then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg (don't forget the bottom 'SAVE_CONFIG' block)
#[include options/probe/stock.cfg] # Stock probe, default
#[include options/probe/eddy.cfg] # BTT Eddy probe

# Want to use a thermistor in your enclosure? You can use a RPi Pico with a BME280.
# Read the guide at /pico-thermistor/ on how to do this. Once ready you can uncomment the cfg below.
#[include options/thermistor/pico.cfg

[include ./Demon_Klipper_Essentials_Unified/*.cfg]
[include ./Demon_User_Files/*.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_38FFDA053347533828642451-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_51FF6B064849824914310967-if00
restart_method: command      
################ EDDY USB CONFIG ##############################
[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
serial: /dev/serial/by-id/usb-Klipper_rp2040_45474E621A88736A-if00
restart_method: command

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0
y_offset: 20

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[bed_mesh]
horizontal_move_z: 2.0
speed: 350
mesh_min: 30, 30  # modify these according to the below guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 300, 300 # modify these according to the below guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 25, 25
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0
adaptive_margin: 5

# [safe_z_home]
# home_xy_position: 175, 175
# z_hop: 10
# z_hop_speed: 25
# speed: 200

#########################################################################


[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# [printeri]
# kinematics: corexy           
# max_velocity: 700            
# max_accel: 40000             
# #max_accel_to_decel: 10000 # deprecated
# minimum_cruise_ratio: 0.5
# max_z_velocity: 20           
# max_z_accel: 500             
# square_corner_velocity: 5.0 

[printer] 
kinematics: corexy
max_velocity: 700
max_accel: 8200
max_accel_to_decel: 4500
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
max_extrude_only_velocity: 15     
max_extrude_cross_section: 5     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 5
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035    

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

# PLEASE REMOVE THIS WHEN USING EDDY
# [probe]
# pin: extra_mcu:PB6
# x_offset: -17
# y_offset: 10
# #z_offset: 0 
# # speed: 5
# # samples: 3
# # samples_result: median
# # sample_retract_dist: 5.0
# # lift_speed: 50
# # samples_tolerance: 0.01
# # samples_tolerance_retries: 10

[probe_pressure]
pin: ^!PE12     
x_offset: 0                  
y_offset: 0
z_offset : 0
speed: 1.0

[bed_mesh]
speed: 350                   
horizontal_move_z: 5         
mesh_min: 10,10              
mesh_max: 333,340            
probe_count: 11,11             
algorithm: bicubic   
bicubic_tension: 0.4
split_delta_z: 0.01
mesh_pps:3,3
adaptive_margin: 5
fade_start: 0
fade_end: 10
fade_target: 0

# [quad_gantry_level]          
# gantry_corners:              
# 	-60,-10
# 	410,420
# points:
# 	36,10
# 	36,320
# 	346,320
# 	346,10
# speed: 400                   
# horizontal_move_z: 10       
# retry_tolerance: 0.05      
# retries: 5                  
# max_adjust: 30   

[quad_gantry_level]
gantry_corners:              
	-60,-10
	410,420
points:
	36,10
	36,320
	346,320
	346,10
speed: 350                   
horizontal_move_z: 5       
retry_tolerance: 0.01      
retries: 5                  
max_adjust: 10  

# [multi_pin print_cooling_fan_pins]
# pins: extra_mcu:PA7, extra_mcu:PB1
# 
# # print/part cooling fan
# [fan]
# pin: multi_pin:print_cooling_fan_pins
# max_power: 1.0
# 
# [fan_generic exhaust_fan] # exhaust fan
# pin: PA2
# max_power: 1.0

[multi_pin fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

[fan]
pin:multi_pin: fan_pins
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
off_below: 0.10

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
[controller_fan MCU_fan]
pin: PA1
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
#[temperature_fan MCU_fan]
#pin: PA1
#kick_start_time: 0.5
#max_power: 1.0
#min_temp: 0
#max_temp: 90
#hardware_pwm: true
#target_temp: 50
#sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
#max_speed: 1.0
#min_speed: 0.1
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
# [led main_led]
# white_pin:PA3
# cycle_time: 0.010
# hardware_pwm: False
# initial_WHITE: 1.0

[output_pin Printer_Lights]
pin:PA3
pwm: 1
value:1
cycle_time: 0.01
shutdown_value: 0

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
shaper_type_x = mzv
shaper_freq_x = 35
shaper_type_y = mzv
shaper_freq_y = 35

[force_move]
enable_force_move: True

[idle_timeout]
gcode:
    _DEMON_IDLE_TIMEOUT
timeout: 3600

# For Demon's Klipper Adaptive Mesh (KAMPLite)
[exclude_object]

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[display]                    
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel Screen_Colour]     
pin: EXP1_6
chain_count: 3
color_order: RGB             
initial_RED: 0.5             
initial_GREEN: 0.4           
initial_BLUE: 0.7

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.480
#*# pid_ki = 2.656
#*# pid_kd = 81.805
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.154
#*# pid_ki = 0.997
#*# pid_kd = 1032.072
#*#
#*# # [probe]  # Commented out - using probe_eddy_ng instead
#*# # z_offset = 2.412
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.525938, 0.345938, 0.232500, 0.221250, 0.207188, 0.205313, 0.193125, 0.224063, 0.260625, 0.341250, 0.468750
#*# 	0.381563, 0.235313, 0.204375, 0.180938, 0.174375, 0.162188, 0.162188, 0.201563, 0.239063, 0.300000, 0.358125
#*# 	0.308438, 0.206250, 0.154688, 0.126563, 0.115313, 0.109688, 0.126563, 0.146250, 0.184688, 0.260625, 0.322500
#*# 	0.306563, 0.209063, 0.144375, 0.098438, 0.071250, 0.060000, 0.076875, 0.090938, 0.146250, 0.225938, 0.311250
#*# 	0.318750, 0.210938, 0.127500, 0.074063, 0.039375, 0.034688, 0.045938, 0.075938, 0.140625, 0.229688, 0.333750
#*# 	0.359063, 0.225000, 0.126563, 0.069375, 0.030000, 0.022500, 0.028125, 0.068438, 0.130313, 0.225938, 0.365625
#*# 	0.334688, 0.215625, 0.131250, 0.071250, 0.025313, 0.027188, 0.031875, 0.070313, 0.138750, 0.224063, 0.349688
#*# 	0.291563, 0.198750, 0.106875, 0.048750, 0.010313, -0.000937, -0.001875, 0.035625, 0.113438, 0.201563, 0.320625
#*# 	0.265313, 0.151875, 0.069375, 0.002813, -0.046875, -0.063750, -0.061875, -0.011250, 0.061875, 0.157500, 0.278438
#*# 	0.361875, 0.184688, 0.098438, 0.020625, -0.036562, -0.067500, -0.069375, -0.023437, 0.051563, 0.151875, 0.343125
#*# 	0.530625, 0.320625, 0.169688, 0.082500, 0.022500, 0.009375, 0.015938, 0.064688, 0.144375, 0.259688, 0.488438
#*# x_count = 11
#*# y_count = 11
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.4
#*# min_x = 10.0
#*# max_x = 332.9
#*# min_y = 10.0
#*# max_y = 340.0
